<p>Hi</p>
<p><%= @user.name %> would like you to know that he has started a new project on kicklone and wants you to check it out.</p>
<p>Here's the project link : <%= link_to @project.title, project_path(@project) %>
Do check it out.</p>
<p><%= @message %></p>

<p>The Kicklone Team</p>