<div id="admin-buttons" class="highlight high300">

  <% if project.approved? %>
    <div id="approve-button" class="text-center">
      Project Approved
    </div>
  <% elsif project.rejected? %>
    <div id="reject-button" class="text-center">
      Project Rejected
    </div>
  <% else %>
    <div id="approve-button" class="large-button text-center">
      <%= link_to "Approve Project", approve_admin_project_path(project), remote: true %>
    </div>
    <div id="reject-button" class="large-button text-center">
      <%= link_to "Reject Project", reject_admin_project_path(project), remote: true %>
    </div>
  <% end %>
</div>
