<% #FIXME_AB: This logic can go to helper methods -%>
<%- @pending_projects = @projects["submitted"].select { |project| !project.outdated? } -%>
<%- @rejected_projects = @projects["rejected"] -%>
<%- @approved_projects = @projects["approved"] -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Projects" %></h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div class="container-fluid">
        <h3>Projects Pending for Approval</h3>
        <% if @pending_projects.empty? %>
          <p>No Pending Projects for Approval</p>
        <% else %>
          <%= render partial: 'projects/listing', locals: { :projects => @pending_projects } %>
        <% end %>
      </div>
      <hr>
      <div class="container-fluid">
        <h3>Rejected Projects</h3>
        <% if @rejected_projects.empty? %>
          <p>No Rejected Projects till now</p>
        <% else %>
          <%= render partial: 'projects/listing', locals: { :projects => @rejected_projects } %>
        <% end %>
      </div>
      <hr>
      <div class="container-fluid">
        <h3>Approved Projects</h3>
        <% if @approved_projects.empty? %>
          <p>No Approved Projects till now</p>
        <% else %>
          <%= render partial: 'projects/listing', locals: { :projects => @approved_projects } %>
        <% end %>
      </div>
    </div>
    <div class="span3">
    </div>
  </div>
</div>
