<div id="backers">
  <% if !@backers.nil? %>
    <% @backers.each do |backer| %>
      <div class="row">
        <div class="span8 highlight">
          <p><%= link_to backer.user.name, user_path(backer.user.id) %></p>
          <p><%= backer.user.email %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
