<div id="backers">
  <% if !@backers.nil? %>
    <% @backers.each do |backer| %>
      <div class="row">
        <div class="span3">
          <%= backer.name %>
        </div>
        <div class="span8 highlight">
          <p><%= backer.email %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
