<div class="highlight high20">
  <h2 id="backer-count"><%= project.backers.count %></h2>
  <p>backers</p>
  <div id="back-button" class="large-button text-center">
    <%= link_to "Back this project", back_project_path(project), remote: true %>
  </div>
</div>
