<% #FIXME_AB: YOur are doing too much with logic to display 3 project in one line. Can be done with CSS only -%>
<% #FIXED: Changed CSS and removed counter %>
<% if projects.present? %>
  <% cache projects do %>
    <div class="row-fluid">
    <% projects.each do |project| %>
      <div class="small-box">
        <% cache project do %>
          <%= render partial: 'projects/short_description', locals: { :project => project } %>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
<% else %>
  <p>No projects here.</p>
<% end %>
