<div class="highlight high300">
  <div class="highlight-inner">
    <%= image_tag project.image.url(:thumb), class: 'project-thumbnail' %>
    <% project_title = project.title %>
    <% project_title = "Untitled Project" if project.title == "" %>
    <h5 class='text-center'><%= link_to project_title, project_path(project) %></h5>
    <p><%= project.summary %></p>
  </div>
</div>