<%- model_class = Project -%>
<div class="page-header">
  <h1>Discover <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <% @projects.each do |project| %>
        <div class="span4">
          <%= render partial: 'short_description', locals: { :project => project } %>
        </div>
      <% end %>
    </div>
    <div class="span3">
    </div>
  </div>
</div>
