<%- @image = @project.images.build -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'New Project' %></h1>
</div>
<%= render :partial => 'form', locals: { :form_path => projects_path } %>
