<p>Dear <%= @project.owner.name %></p>

<p>Your project <%= @project.title %> published on our website <%= APP_NAME %> failed to generate 100% of your funding goal and thus, will not be funded.</p>

<p>Regards</p>

<p>The <%= APP_NAME %> Team</p>
