<p>Dear <%= @project.owner.name %></p>

<p>Your project <%= @project.title %> published on our website <%= APP_NAME %> completed it's funding goal and thus, has been funded.</p>

<p>Regards</p>

<p>The <%= APP_NAME %> Team</p>
