// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.read {
  background-color: #F1F1F3;
}

.unread {
  background-color: #FFFFFF;
}

.unread-highlight {
  border: 1px solid #E1E1E8;
  border-radius: 4px 4px 4px 4px;
  display: block;
  padding: 9px 9px 9px 9px;
  margin-bottom: 10px;
}

.read-highlight {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 4px 4px 4px 4px;
  display: block;
  padding: 9px 9px 9px 9px;
  margin-bottom: 10px;
}

.required {
  color: red;
}